{% extends "layout.njk" %}
{# <ul>
  {% for blabla in bloblo%}
  <li>
    <a href="le lien relatif"></a>
  </li>
  {% endfor %}
</ul> #}
{% block content%}
  <h1>Mon site web ( home.njk )
{% endblock %}
