{% extends "layout.njk" %}
{# <ul>
  {% for blabla in bloblo%}
  <li>
    <a href="le lien relatif"></a>
  </li>
  {% endfor %}
</ul> #}
{% block content%}
  <h1>{{joke}}</h1>

  <div align="center">Coucou je suis au mileu</div>
<p align="right">Je suis le texte à droite</p>
<p align="left">ils m'ont laisser tout seul à GAUCHE </p>

{% endblock %}
